
@font-face {
  font-family: "Founders Grotesk Mono Regular";      
  src: url('../fonts/founders-grotesk-mono-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Founders Grotesk text Regular";      
  src: url('../fonts/founders-grotesk-text-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Founders Grotesk Text Medium";      
  src: url('../fonts/founders-grotesk-text-medium-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: LeJeuneDeck-Regular;      
  src: url('../fonts/lejeunedeck-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Founders Grotesk Mono Medium";      
  src: url('../fonts/founders-grotesk-mono-medium-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
